$secondary-1: #0B0A07;
$secondary-2: #6665DD;
$secondary-3: #EC0B43;
$background: #cecece;

@font-face {
    font-family: 'Atkinson';
    src: url('./fonts/Atkinson-Hyperlegible-Regular-102.otf');
}

input:focus, button:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background;
    color: $secondary-3;
    font-family: 'Atkinson';
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 10px;
    }

    #header {
        width: 100%;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #analysis {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        color: rgb(80, 80, 80);
    }

    #about {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: rgb(80, 80, 80);
            line-height: 1.7rem;

            strong {
                color: black;
            }
        }

        a {
            font-weight: bold;
            margin-bottom: 30px;
        }
    }

    #options {
        width: 100%;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .options-input {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p {
                font-weight: bold;
                padding-right: 10px;
                font-size: 1rem;
            }

            input[type='number'] {
                border: none;
                font-size: 1rem;
                font-family: 'Atkinson';
                width: 70px;
                background: transparent;
                border-bottom: 2px black dashed;

                &:focus {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }

        button {
            width: 10%;
            border-radius: 0px;
            border: 2px black solid;
            font-family: 'Atkinson';
            font-size: 1.5rem;
            letter-spacing: 2px;
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 0px;
            font-weight: bold;

            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}